@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        flex-basis: 100.00%;
        /* border: 1px solid #FFA629; */
        text-align: center;
    }

    .item-1 {
        flex-basis: 100%;
        padding: 5%;
    }

    #title {
        font-size: 500%;
    }

    .item-2 {
        display: flex;
        justify-content: center;
        flex-basis: 100.00%;
        padding: 5%;
    }

    .pulse-container {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pulse-bubble {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FFA629;
    }

    .pulse-bubble-1 {
        animation: pulse .4s ease 0s infinite alternate;
    }

    .pulse-bubble-2 {
        animation: pulse .4s ease .2s infinite alternate;
    }

    .pulse-bubble-3 {
        animation: pulse .4s ease .4s infinite alternate;
    }
</style>

<div class="flex-container">
    <div class="item item-1">
        <h1 id="title">Error</h1>
        <p>Oops, looks like we've git a brick wall here. Why don't you go and get yourself a drink while we work on fixing this. :)</p>
    </div>
    <div class="item item-2">
        <p>@ErrorModel.RequestId</p>
    </div>
</div>