@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    font-face {
        font-family: 'Share Tech';
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        flex-basis: 33.33%;
        /* border: 1px solid #FFA629; */
        text-align: center;
    }

    .item-1 {
        flex-basis: 100%;
        padding-top: 12%;
    }

    .item-2 {
        text-align: left;
        padding-top: 5%;
        padding-left: 10%;
        flex-basis: 60.00%;
    }

    .item-3 {
        flex-basis: 40.00%;
    }

    .item-4 {
        flex-basis: 100.00%;
    }

    .item-5 {
        flex-basis: 40.00%;
    }

    .item-6 {
        text-align: right;
        padding-top: 5%;
        padding-right: 10%;
        flex-basis: 60.00%;
    }
</style>
<div class="flex-container">
    <div class="item item-1">
        <img class="img-logo" style="width: 35%;" src="~/img/logo.png" alt="Study Central" />
    </div>
    <div class="item item-2">
        <h1>About Study Central</h1>
        <P>
            I (Jack) built Study Central as a way of providing resources to Christians all around. I've got quite a few projects in the work at the moment, so I apologise if this dosen't get updated as often as you may like. The aim with this is to bring a set of tools to help Christians better understand the Bible.
        </P>
    </div>
    <div class="item item-3"></div>
    <div class="item item-4"></div>
    <div class="item item-5"></div>
    <div class="item item-6">
        <h1>Our Mission</h1>
        <P>
            I know from personal experience in my relationship with Jesus how hard it can be to study him sometimes. You feel like your getting somewhere then you hit a wall or you get distracted... I also know how confusing and annoying technology can be. I know that for some of us, it's a breeze and works like a charm, but for many others it's this big confusing thing that we bearly know how to use...<br><br>That's where I come in. This sites purpose is not only to bring Christians together but also to use technology to bring tools and methods together to help people from all over study the Bible better and get to know Jesus Christ more intimately.
        </P>
    </div>
</div>
